<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>协易</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="login/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="login/css/font-awesome.css" type="text/css" media="all">
</head>

<body>
    <h1 class="title-agile text-center">协易</h1>
    <div class="content-w3ls">
        <div class="agileits-grid">
            <div class="content-top-agile">
                <h2 style="text-align: center;font-size: 3rem">登录</h2>
            </div>
            <div class="content-bottom">
                <form  method="post" onsubmit="return false;">
                    <div class="field_w3ls">
                        <div class="field-group">
                            <input name="text1" id="text1" type="text" value="" placeholder="用户名" required>
                        </div>
                        <div class="field-group">
                            <input id="password-field" type="password" class="form-control" name="password" value="" placeholder="密码">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                    <div class="wthree-field">
                        <input id="saveForm" name="saveForm" type="submit" value="登录" />
                    </div>
                    <ul class="list-login">
                        <li>
                            <a href="/register" class="text-right" style="color: #000">&nbsp;&nbsp;&nbsp;注册账号&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li>
                            <a href="/changepwd" class="text-right">forgot password?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </form>
            </div>
            <!-- //content bottom -->
        </div>
    </div>
    <div class="copyright text-center">
        <p>© 2018 All rights reserved | Design by 协易
        </p>
    </div>
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="contractjs/login.js"></script>
    <script>
        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
    <!-- /script for show password -->

</body>
<!-- //Body -->

</html>
