<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>协易·协议</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <!-- blog -->
    <link rel="stylesheet" href="/css/blog.css" type='text/css' media="all" />
    <!-- fontawesome -->
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <!-- online fonts -->
    <link href="http://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">
        <!-- banner -->
        <div class="inner-banner">
            <!-- header -->
            <!-- header -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-fixed-top">
                <div class="container">
                    <h1>
                        <a class="navbar-brand text-white" href="index.html">
                            <img src="https://dreamyheart-images.oss-cn-beijing.aliyuncs.com/protocol-logoy.png" width="80%" style="vertical-align:baseline">
                            <a id="TYUT"><img src="http://www2017.tyut.edu.cn/images/LOGO.png" width="180px" style="vertical-align:baseline"></a>
                            <script type="text/javascript">
                                if(document.body.scrollWidth < 400){
                                    document.getElementById('TYUT').style.display = 'none';
                                }
                            </script>
                        </a>
                    </h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-center align-items-center">
                            <li class="nav-item active  mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/">主页
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/douprotocol">抖协议</a>
                            </li>
                            <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/floater">漂流瓶</a>
                            </li>
                            <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/createprotocol">生成协议</a>
                            </li>
                            {{if !login}}
                            <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/login">登录</a>
                            </li>
                            <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/login#about" style="margin-left:-3rem ">/&nbsp;注册</a>
                            </li>
                            {{else}}
                            <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/center/{{username}}/0">个人中心</a>
                            </li>
                            {{/if}}



                        </ul>
                    </div>
                </div>

                <!-- /.container -->
            </nav>
            <!-- //header -->
        </div>
        <!-- //banner -->
        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">协议</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">签署协易</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- blog -->
        <section class="banner-bottom pt-lg-5 pt-md-5 pt-sm-3">
            <div class="container">
                <div class="inner-sec pt-lg-5  py-3">
                    <h3 class="agile-title">协议
                        <br> block chain protocol
                        <span class="title-pos">protocol</span>
                    </h3>
                    <div class="row mt-lg-5 mt-md-4 mt-4">
                        <!--left-->
                        <div class="col-lg-8 left-blog-info text-left" style="flex: 0 0 100%!important;max-width: 100%!important;">
                            <div class="card">

                                <div class="card-body">
                                    <ul class="blog-icons my-4">
                                        <li>
                                            <a href="#">
                                                <i id="time" class="far fa-calendar-alt"></i> Feb 20 .2018</a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i id="signer" class="far fa-comment">签署人</i></a>
                                        </li>

                                    </ul>
                                    <h5 class="card-title ">
                                        <a href="single.html" class="text-dark font-weight-bold" id="title">Blog Post Title</a>
                                    </h5>
                                    <p id="content" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt,Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua uta enim ad minim ven iam quis nostrud exercitation
                                        ullamco labor nisi ut aliquip exea commodo consequat duis aute irudre dolor in elit
                                        sed uta labore dolore reprehender.. </p>

                                </div>
                            </div>
                            <div class="comment-top">
                            </div>
                            <div class="comment-top">
                                <button id="sign" type="button" class="btn btn-primary submit">签署</button>

                            </div>

                        </div>
                        <!--//left-->


                    </div>
                </div>
            </div>
        </section>
        <!-- //blog-->



    </div>
    <!-- js -->
    <!-- js -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!--  menu toggle -->
    <script src="/js/menu.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="/js/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- smooth scroll -->
    <script src="/js/SmoothScroll.min.js"></script>
    <!--/ start-smoth-scrolling -->
    <script src="/js/move-top.js"></script>
    <script src="/js/easing.js"></script>
    <script src="/contractjs/contractFun.js"></script>
    <script src="/contractjs/web3.min.js"></script>
    <script src="/contractjs/signprotocol.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                     };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->
    <script src="/js/bootstrap.js"></script>
</body>

</html>
