/*
    StyleSheet For Responsive Bootstrap Carousel Effect Ken Burns
    Author: Razboynik
    Author URI: http://filwebs.ru
    Description: Bootstrap Carousel Effect Ken Burns
*/

.kb_control_left,
.kb_control_right {
    top: 46%;
    z-index: 2;
    opacity: 0;
    width: 55px;
    height: 55px;
    text-align: center;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.kb_wrapper:hover .kb_control_left,
.kb_wrapper:hover .kb_control_right {
    opacity: .8;
}

.kb_icons {
    line-height: 50px;
    font-size: 34px !important;
    font-weight: normal !important;
}

.kb_control_left {
    left: 1% !important;
}

a.left.kb_control_left {
    border-radius: 50%;
    line-height: 2em;
    font-size: 17px;
}

a.right.kb_control_right {
    border-radius: 50%;
    line-height: 2em;
    font-size: 17px;
}

.kb_control_right {
    right: 1% !important;
}

.kb_control_left span,
.kb_control_right span {
    top: .7em;
}

.kb_elastic {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.kb_elastic .carousel-item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transform: scale3d(2, 1, 2);
    transform: scale3d(2, 1, 2);
    -webkit-transition: -webkit-transform .7s ease-in-out 0s, opacity ease-in-out .7s;
    transition: transform .7s ease-in-out 0s, opacity ease-in-out .7s;
}

.kb_elastic .carousel-item:first-child {
    top: auto;
    position: relative;
}

.kb_elastic .carousel-item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform .7s ease-in-out 0s, opacity ease-in-out .7s;
    transition: transform .7s ease-in-out 0s, opacity ease-in-out .7s;
}

.kb_wrapper {
    overflow: hidden;
    min-height: 800px;
}

.kb_wrapper>.carousel-inner>.carousel-item>img,
.kb_wrapper>.carousel-inner>.carousel-item>a>img {
    margin: auto;
    opacity: .8;
    width: 100% !important;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation: immortalkenburns 20000ms linear 0s infinite alternate;
    animation: immortalkenburns 20000ms linear 0s infinite alternate;
}

@-webkit-keyframes immortalkenburns {
    0% {
        -webkit-transform: scale(1);
        -webkit-transition: -webkit-transform 20000ms linear 0s;
    }
    100% {
        -webkit-transform: scale(1.2);
        -webkit-transition: -webkit-transform 20000ms linear 0s;
    }
}

@-moz-keyframes immortalkenburns {
    0% {
        -moz-transform: scale(1);
        -moz-transition: -moz-transform 20000ms linear 0s;
    }
    100% {
        -moz-transform: scale(1.2);
        -moz-transition: -moz-transform 20000ms linear 0s;
    }
}

@-ms-keyframes immortalkenburns {
    0% {
        -ms-transform: scale(1);
        -ms-transition: -ms-transform 20000ms linear 0s;
    }
    100% {
        -ms-transform: scale(1.2);
        -ms-transition: -ms-transform 20000ms linear 0s;
    }
}

@-o-keyframes immortalkenburns {
    0% {
        -o-transform: scale(1);
        -o-transition: -o-transform 20000ms linear 0s;
    }
    100% {
        -o-transform: scale(1.2);
        -o-transition: -o-transform 20000ms linear 0s;
    }
}

@keyframes immortalkenburns {
    0% {
        transform: scale(1);
        transition: transform 20000ms linear 0s;
    }
    100% {
        transform: scale(1.2);
        transition: transform 20000ms linear 0s;
    }
}

.kb_caption {
    left: 25%;
    width: 50%;
    top: 32%;
    bottom: 0;
}

.kb_caption_center {
    float: none;
    margin: auto;
}

.kb_caption h3 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    margin: 1em 0;
}

.kb_caption h4 {
    font-size: 3em;
    border-radius: 25px 0 25px 0;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
}

@media(min-width:481px) and (max-width:600px) {
    .kb_control_left,
    .kb_control_right {
        border: 0;
    }
}

@media(min-width:601px) and (max-width:767px) {
    .kb_caption h3 {
        padding: .1em .1em .2em;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .kb_caption {
        bottom: 25%;
    }
}

.kb_wrapper {
    background: #000;
}

.kb_control_left,
.kb_control_left:hover,
.kb_control_left:active,
.kb_control_left:focus,
.kb_control_right,
.kb_control_right:hover,
.kb_control_right:active,
.kb_control_right:focus {
    color: #fff;
    /* background: #151313 !important; */
    background: linear-gradient(to right, #d56e9b, #75bdeb);
    background: -webkit-linear-gradient(to right, #d56e9b, #75bdeb);
    background: -moz-linear-gradient(to right, #d56e9b, #75bdeb);
    background: -o-linear-gradient(to right, #d56e9b, #75bdeb);
}

/* responsive */

@media screen and (max-width: 1080px) {
    .kb_caption h4 {
        font-size: 2.7em;
    }
    .kb_wrapper {
        min-height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .kb_caption h3 {
        font-size: 2.3em;
    }
    .kb_caption h4 {
        font-size: 2.6em;
    }
}

@media screen and (max-width: 900px) {
    .kb_caption h3 {
        font-size: 2em;
    }
    .kb_caption h4 {
        font-size: 2.4em;
    }
}

@media screen and (max-width: 800px) {
    .kb_caption h4 {
        font-size: 2em;
    }
    .kb_caption h3 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 736px) {
    .kb_caption h3 {
        font-size: 1.5em;
        line-height: 1.5;
        margin: 0.5em 0;
    }
}

@media screen and (max-width: 667px) {
    .kb_caption h4 {
        font-size: 1.8em;
    }
    .kb_caption h3 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 640px) {
    .kb_caption {
        top: 26%;
    }
}

@media screen and (max-width: 568px) {
    .kb_caption h4 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    .kb_caption {
        top: 20%;
        left: 22%;
        width: 56%;
    }
    .kb_caption h4 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 414px) {
    .kb_caption {
        top: 10%;
        left: 15%;
        width: 70%;
    }
    .kb_caption h3 {
        font-size: 1.1em;
    }
    .kb_caption h4 {
        font-size: 1em;
    }
}

@media screen and (max-width: 320px) {
    .kb_control_left,
    .kb_control_right {
        width: 40px;
        height: 40px;
    }
    .kb_caption h3 {
        font-size: 1em;
    }
    .kb_caption {
        top: -5%;
    }
    .kb_caption h4 {
        padding: 9px 15px;
        letter-spacing: 0.5px;
    }
}

/* //responsive */